<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" >
    <link href="css/index.css" rel="stylesheet"></link>

    <script src="js/index.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
  </head>

  <body>

  <div class="search full">
    <div class="search container" id="searchBox">
      <div class="row">
        <div class="col s2" id="headerName"><h4>Wanderlust</h4></div>
        <div class="col s2">
          <div class="input-field">
            <input id="autocomplete" type="text" class="validate">
            <!-- <label for="autocomplete">Pick Departing City</label> -->
            <label for="autocomplete"></label>
          </div>
        </div>

        <div class="col s1">
          <div class="input-field">
            <input id="lowEndUI" type="text" class="validate" oninput="$('#lowEndLabelUI').hide();">
            <label id="lowEndLabelUI" for="lowEndUI"></label>
          </div>
        </div>
      
        <div class="col s1">
          <div class="input-field">
            <input id="highEndUI" type="text" class="validate" oninput="$('#highEndLabelUI').hide();">
            <label id="highEndLabelUI" for="highEndUI"></label>
          </div>
        </div>

        <div class="col s2">
          <div class="input-field">
            <input id="departUI" type="date" class="validate">
            <label for="departUI"></label>
          </div>
        </div>

        <div class="col s2">
          <div class="input-field">
            <input id="returnUI" type="date" class="validate">
            <label for="returnUI"></label>
          </div>
        </div>

        <div class="col s2">
          <a id="submitButton" class="btn disabled" class="waves-effect waves-light btn" onclick="drawMap()" style="width:100%">Search Flights!</a>
        </div>
      </div>
    </div>
  </div>

    <!-- Starting window to detail what the app does on page load -->
    <div id="myModal" class="modal1">
      <div class="modal-content" id="modal1Cont">
        <div id="modalHeader">
          <h3 id="popTitle">Welcome, let's Wanderlust!</h3>
        </div>
        <div id="forms">
          <h5 id="intro" style="text-align: center">Love to travel? Want to love to travel?</h5>
          <p>Wanderlust is an application for everyone from globe trotters to first timers. Made to enable your inner adverturer, we help you explore the possibilities of the world with minimal know-how. Just by knowing <b>where you want to leave from, when you want to travel</b> and <b>how much you want to spend</b>, we offer you everything available to you, just a few clicks away.
          <div>
            <a class="waves-effect waves-light btn" onclick="hideModal(1)" style="width:100%">Explore!</a>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Form to fill out before flights can be shwon -->
    <div id="myModal2" class="modal2" style="display: none">
      <div class="modal-content">
        <div id="modalHeader">
          <h3 class="mdc-typography--display1">Plan Your Trip</h3>
        </div> 
          <div id="forms">
            <div class="row1">
              <h6 class="form-sectionhead">Budget</h6>
              <div class="input-field">
                <input id="lowEnd" type="text" class="validate" oninput="$('#lowEndLabel').hide();">
                <label id="lowEndLabel" for="lowEnd">Low End</label>
              </div>
            </div>

            <div class="row1">
              <div class="input-field">
                <input id="highEnd" type="text" class="validate" oninput="$('#highEndLabel').hide();">
                <label id="highEndLabel" for="highEnd">High End</label>
              </div>
            </div>

            <div class="row1">
              <div class="input-field">
                <h6 class="form-sectionhead">Depart Date</h6>
                <input id="depart" type="date" class="validate" oninput="$('#departLabel').hide();">
                <label id="departLabel" for="depart"></label>
              </div>
            </div>

            <div class="row1">
              <div class="input-field">
                <h6 class="form-sectionhead">Return Date</h6>
                <input id="return" type="date" class="validate" oninput="$('#returnLabel').hide();">
                <label id="returnLabel" for="return"></label>
              </div>
            </div>
          
          <a class="waves-effect waves-light btn" onclick="hideModal(3)" style="width:100%">Show Me Flights!</a>
        </div>
      </div>
    </div>

    <div id="mapModal" class="mapModal">
      <div class="modal-content">
        <div id="forms">
          <div id="miniMap" style="width: 100%, height: 100%"></div>
          <div class="row">
            <a class="waves-effect waves-light btn" onclick="hideModal(2)" style="width:100%">Show Me Flights!</a>
          </div>
        </div>
      </div>
    </div>

    <div id="map"></div>
    <div id="pano"></div>

    <div class="infowindow" id="infowin" style="max-width:600px; display: none !important;">
      <div id="IWContent">
        </div>
      <div class="hider" id="IWBtns">
        <div class="row">
          <div class="col s12">
            <a id="purchaseBtn" class="waves-effect waves-light btn" style="width:100%">Buy Ticket</a>
          </div>
        </div>
        <div class = "row" style="margin-top: 5%">
          <div class="col s4">
            <a id="trafficBtn" class="waves-effect waves-light btn"  style="width:100%"><i class="fa fa-car" aria-hidden="true"></i></a>
          </div>
          <div class="col s4">
            <a id="transitBtn" class="waves-effect waves-light btn"  style="width:100%"><i class="fa fa-subway" aria-hidden="true"></i></a>
          </div>
          <div class="col s4"> 
            <a id="bikeBtn" class="waves-effect waves-light btn"  style="width:100%"><i class="fa fa-bicycle" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDb7SwbRhXn9FiIl_9d6xjGqdg7Ktmca2A&libraries=places&callback=initMap" async defer></script>
  </body>
</html>